## Assignment 6

#### Name : Raswanth S.R
#### RollNum : CB.EN.U4CSE19648

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
eps = np.finfo(float).eps

import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("C:/Users/RASWANTH.SR/Desktop/ML Lab/FDS Lab/csv/PlayTennis.csv")

In [5]:
df

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

#### Entropy for whole dataset

In [6]:
entropy_node = 0
values = df['Play Tennis'].unique()
for value in values:
    fraction = df['Play Tennis'].value_counts()[value]/len(df['Play Tennis'])
    entropy_node += -fraction*np.log2(fraction)

In [7]:
entropy_node

0.9402859586706311

In [8]:
df['Outlook'].unique()

array(['Sunny', 'Overcast', 'Rain'], dtype=object)

In [13]:
def ent(df,attribute):
    target_variables = df['Play Tennis'].unique()
    variables = df[attribute].unique()
    
    entropy_attribute = 0 
    for variable in variables:
        entropy_each_feature = 0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute] == variable][df['Play Tennis'] == target_variable])
            den = len(df[attribute][df[attribute] == variable])
            fraction = num/(den+eps)
            entropy_each_feature +=  -fraction*np.log(fraction+eps)
        fraction2 = den/len(df)
        entropy_attribute +=  -fraction*entropy_each_feature
    return (abs(entropy_attribute))

In [14]:
print("Outlook: ",ent(df,'Outlook'))
print("Humidity: ",ent(df,'Humidity'))
print("Temperature: ",ent(df,'Temperature'))
print("Wind: ",ent(df,'Wind'))

Outlook:  0.6730116670092559
Humidity:  0.6442031748331236
Temperature:  1.1926677276072866
Wind:  0.7683249487440783

In [11]:
def ig(e_dataset,e_attr):
    return(e_dataset - e_attr)

In [15]:
print("Outlook: ",ig(entropy_node,0.6730116670092559))
print("Humidity: ",ig(entropy_node,0.6442031748331236))
print("Temperature: ",ig(entropy_node,1.1926677276072866))
print("Wind: ",ig(entropy_node,0.7683249487440783))

Outlook:  0.2672742916613753
Humidity:  0.2960827838375075
Temperature:  -0.2523817689366554
Wind:  0.17196100992655283