## Assignment 7

#### Name : Raswanth S.R
#### RollNum : CB.EN.U4CSE19648

## Titanic Dataset

#### Data Engineering

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
df.Embarked = df.Embarked.fillna(df['Embarked'].mode()[0])

In [5]:
median_age = df.Age.median()
df.Age.fillna(median_age, inplace = True)

In [6]:
df.drop('Cabin', axis = 1,inplace = True)

In [7]:
df['Fare'].value_counts()

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
8.4583      1
9.8375      1
8.3625      1
14.1083     1
17.4000     1
Name: Fare, Length: 248, dtype: int64

In [8]:
df['Fare']=df['Fare'].replace(0,df['Fare'].median())

In [9]:
df['GenderClass'] = df.apply(lambda x: 'child' if x['Age'] < 15 else x['Sex'],axis=1)

In [10]:
df[df.Age<15].head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,GenderClass
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,S,child
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,C,child
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S,child
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,S,child
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,Q,child

In [11]:
df[df.Age>15].head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,GenderClass
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,male
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,female
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,female
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,female
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,male

In [12]:
df = pd.get_dummies(df, columns=['GenderClass','Embarked'], drop_first=True)

In [13]:
inputvalues = df.drop(['Name','Ticket','Sex','SibSp','Parch'], axis = 1)
inputvalues.head()

,PassengerId,Survived,Pclass,Age,Fare,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,0,3,22.0,7.2500,0,1,0,1
1,2,1,1,38.0,71.2833,1,0,0,0
2,3,1,3,26.0,7.9250,1,0,0,1
3,4,1,1,35.0,53.1000,1,0,0,1
4,5,0,3,35.0,8.0500,0,1,0,1

#### Model Building

In [14]:
X = inputvalues.drop("Survived",axis=1)
X

,PassengerId,Pclass,Age,Fare,GenderClass_female,GenderClass_male,Embarked_Q,Embarked_S
0,1,3,22.0,7.2500,0,1,0,1
1,2,1,38.0,71.2833,1,0,0,0
2,3,3,26.0,7.9250,1,0,0,1
3,4,1,35.0,53.1000,1,0,0,1
4,5,3,35.0,8.0500,0,1,0,1
...,...,...,...,...,...,...,...,...
886,887,2,27.0,13.0000,0,1,0,1
887,888,1,19.0,30.0000,1,0,0,1
888,889,3,28.0,23.4500,1,0,0,1
889,890,1,26.0,30.0000,0,1,0,0
890,891,3,32.0,7.7500,0,1,1,0

In [15]:
y = inputvalues.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [17]:
print(X_train.shape)
print(y_train.shape)

(712, 8)
(712,)

#### Model Building

In [18]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(random_state=42,n_jobs=-1,max_depth=5,n_estimators=5,oob_score=True)

In [19]:
classifier_rf.fit(X_train,y_train)

D:\PROJECT\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py:540: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
D:\PROJECT\Anaconda\lib\site-packages\sklearn\ensemble\_forest.py:544: RuntimeWarning: invalid value encountered in true_divide
  decision = (predictions[k] /

RandomForestClassifier(max_depth=5, n_estimators=5, n_jobs=-1, oob_score=True,
                       random_state=42)

In [20]:
classifier_rf.oob_score_

0.7752808988764045

In [21]:
classifier_rf.score(X_test,y_test)

0.7486033519553073

In [ ]:
from sklearn.tree import plot_tree
plt.figure(figsize=(300,200))
plot_tree(classifier_rf.estimators_[3],feature_names=X.columns,class_names=["Survived","Not Survived"],filled=True)

[Text(9037.81914893617, 9966.0, 'GenderClass_male <= 0.5\ngini = 0.464\nsamples = 443\nvalue = [451, 261]\nclass = Survived'),
 Text(4185.0, 8154.0, 'GenderClass_female <= 0.5\ngini = 0.397\nsamples = 167\nvalue = [68, 181]\nclass = Not Survived'),
 Text(1602.7659574468084, 6342.0, 'Embarked_S <= 0.5\ngini = 0.457\nsamples = 35\nvalue = [18, 33]\nclass = Not Survived'),
 Text(712.3404255319149, 4530.0, 'PassengerId <= 828.5\ngini = 0.142\nsamples = 8\nvalue = [1, 12]\nclass = Not Survived'),
 Text(356.17021276595744, 2718.0, 'gini = 0.0\nsamples = 7\nvalue = [0, 12]\nclass = Not Survived'),
 Text(1068.5106382978724, 2718.0, 'gini = 0.0\nsamples = 1\nvalue = [1, 0]\nclass = Survived'),
 Text(2493.191489361702, 4530.0, 'Pclass <= 2.5\ngini = 0.494\nsamples = 27\nvalue = [17, 21]\nclass = Not Survived'),
 Text(1780.851063829787, 2718.0, 'Pclass <= 1.5\ngini = 0.26\nsamples = 12\nvalue = [2, 11]\nclass = Not Survived'),
 Text(1424.6808510638298, 906.0, 'gini = 0.444\nsamples = 2\nvalue = [2, 1]\nclass = Survived'),
 Text(2137.021276595745, 906.0, 'gini = 0.0\nsamples = 10\nvalue = [0, 10]\nclass = Not Survived'),
 Text(3205.531914893617, 2718.0, 'Fare <= 20.825\ngini = 0.48\nsamples = 15\nvalue = [15, 10]\nclass = Survived'),
 Text(2849.3617021276596, 906.0, 'gini = 0.0\nsamples = 5\nvalue = [0, 8]\nclass = Not Survived'),
 Text(3561.702127659574, 906.0, 'gini = 0.208\nsamples = 10\nvalue = [15, 2]\nclass = Survived'),
 Text(6767.234042553191, 6342.0, 'PassengerId <= 357.5\ngini = 0.378\nsamples = 132\nvalue = [50, 148]\nclass = Not Survived'),
 Text(5342.553191489362, 4530.0, 'Fare <= 18.75\ngini = 0.259\nsamples = 58\nvalue = [13, 72]\nclass = Not Survived'),
 Text(4630.212765957447, 2718.0, 'Embarked_Q <= 0.5\ngini = 0.438\nsamples = 28\nvalue = [12, 25]\nclass = Not Survived'),
 Text(4274.04255319149, 906.0, 'gini = 0.499\nsamples = 17\nvalue = [11, 12]\nclass = Not Survived'),
 Text(4986.382978723404, 906.0, 'gini = 0.133\nsamples = 11\nvalue = [1, 13]\nclass = Not Survived'),
 Text(6054.893617021276, 2718.0, 'Pclass <= 2.5\ngini = 0.041\nsamples = 30\nvalue = [1, 47]\nclass = Not Survived'),
 Text(5698.723404255319, 906.0, 'gini = 0.0\nsamples = 25\nvalue = [0, 43]\nclass = Not Survived'),
 Text(6411.063829787234, 906.0, 'gini = 0.32\nsamples = 5\nvalue = [1, 4]\nclass = Not Survived'),
 Text(8191.914893617021, 4530.0, 'PassengerId <= 514.0\ngini = 0.44\nsamples = 74\nvalue = [37, 76]\nclass = Not Survived'),
 Text(7479.574468085107, 2718.0, 'Pclass <= 2.5\ngini = 0.5\nsamples = 26\nvalue = [22, 21]\nclass = Survived'),
 Text(7123.404255319148, 906.0, 'gini = 0.245\nsamples = 11\nvalue = [2, 12]\nclass = Not Survived'),
 Text(7835.744680851064, 906.0, 'gini = 0.428\nsamples = 15\nvalue = [20, 9]\nclass = Survived'),
 Text(8904.255319148937, 2718.0, 'Age <= 23.5\ngini = 0.337\nsamples = 48\nvalue = [15, 55]\nclass = Not Survived'),
 Text(8548.08510638298, 906.0, 'gini = 0.496\nsamples = 7\nvalue = [5, 6]\nclass = Not Survived'),
 Text(9260.425531914894, 906.0, 'gini = 0.282\nsamples = 41\nvalue = [10, 49]\nclass = Not Survived'),
 Text(13890.63829787234, 8154.0, 'Embarked_Q <= 0.5\ngini = 0.286\nsamples = 276\nvalue = [383, 80]\nclass = Survived'),
 Text(12465.95744680851, 6342.0, 'Age <= 29.5\ngini = 0.284\nsamples = 259\nvalue = [362, 75]\nclass = Survived'),
 Text(11041.27659574468, 4530.0, 'PassengerId <= 284.5\ngini = 0.192\nsamples = 147\nvalue = [224, 27]\nclass = Survived'),
 Text(10328.936170212766, 2718.0, 'Age <= 16.5\ngini = 0.269\nsamples = 46\nvalue = [68, 13]\nclass = Survived'),
 Text(9972.765957446809, 906.0, 'gini = 0.5\nsamples = 3\nvalue = [2, 2]\nclass = Survived'),
 Text(10685.106382978724, 906.0, 'gini = 0.245\nsamples = 43\nvalue = [66, 11]\nclass = Survived'),
 Text(11753.617021276596, 2718.0, 'Fare <= 80.315\ngini = 0.151\nsamples = 101\nvalue = [156, 14]\nclass = Survived'),
 Text(11397.446808510638, 906.0, 'gini = 0.116\nsamples = 95\nvalue = [152, 10]\nclass = Survived'),
 Text(12109.787234042553, 906.0, 'gini = 0.5\nsamples = 6\nvalue = [4, 4]\nclass = Survived'),
 Text(13890.63829787234, 4530.0, 'Embarked_S <= 0.5\ngini = 0.383\nsamples = 112\nvalue = [138, 48]\nclass = Survived'),
 Text(13178.297872340425, 2718.0, 'PassengerId <= 594.5\ngini = 0.391\nsamples = 25\nvalue = [33, 12]\nclass = Survived'),
 Text(12822.127659574468, 906.0, 'gini = 0.067\nsamples = 17\nvalue = [28, 1]\nclass = Survived'),
 Text(13534.468085106382, 906.0, 'gini = 0.43\nsamples = 8\nvalue = [5, 11]\nclass = Not Survived'),
 Text(14602.978723404256, 2718.0, 'PassengerId <= 241.0\ngini = 0.38\nsamples = 87\nvalue = [105, 36]\nclass = Survived'),
 Text(14246.808510638297, 906.0, 'gini = 0.121\nsamples = 20\nvalue = [29, 2]\nclass = Survived'),
 Text(14959.148936170213, 906.0, 'gini = 0.427\nsamples = 67\nvalue = [76, 34]\nclass = Survived'),
 Text(15315.31914893617, 6342.0, 'Pclass <= 2.0\ngini = 0.311\nsamples = 17\nvalue = [21, 5]\nclass = Survived'),
 Text(14959.148936170213, 4530.0, 'gini = 0.0\nsamples = 1\nvalue = [1, 0]\nclass = Survived'),
 Text(15671.489361702128, 4530.0, 'Fare <= 19.375\ngini = 0.32\nsamples = 16\nvalue = [20, 5]\nclass = Survived'),
 Text(15315.31914893617, 2718.0, 'gini = 0.0\nsamples = 13\nvalue = [17, 0]\nclass = Survived'),
 Text(16027.659574468085, 2718.0, 'Fare <= 23.7\ngini = 0.469\nsamples = 3\nvalue = [3, 5]\nclass = Not Survived'),
 Text(15671.489361702128, 906.0, 'gini = 0.0\nsamples = 1\nvalue = [0, 5]\nclass = Not Survived'),
 Text(16383.829787234043, 906.0, 'gini = 0.0\nsamples = 2\nvalue = [3, 0]\nclass = Survived')]

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = classifier_rf.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
cm

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(cm,annot=True)
plt.xlabel("Predicted")
plt.ylabel("Truth")

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

## Iris Dataset

In [ ]:
df = sns.load_dataset("iris")

In [ ]:
df

In [ ]:
df.isna().sum()

#### Model Building

In [ ]:
X = df.drop('species',axis =1)

In [ ]:
y = df["species"]

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.8,random_state=42)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
from sklearn.ensemble import RandomForestClassifier
classifier_rf = RandomForestClassifier(random_state=42,n_jobs=-1,max_depth=5,n_estimators=100,oob_score=True)

In [ ]:
classifier_rf.fit(X_train,y_train)

In [ ]:
classifier_rf.oob_score_

In [ ]:
classifier_rf.score(X_test,y_test)

In [ ]:
rf = RandomForestClassifier(random_state=42,n_jobs=-1)

In [ ]:
params ={
    'max_depth':[2,3,5,10,20],
    'min_samples_leaf':[5,10,20,50,100,200],
    'n_estimators': [10,25,30,50,100,200]
}

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
grid_search = GridSearchCV(estimator=rf,param_grid=params,cv=4,n_jobs=-1,verbose=1,scoring="accuracy")

In [ ]:
grid_search.fit(X_train,y_train)

In [ ]:
grid_search.best_score_

In [ ]:
rf_best = grid_search.best_estimator_

In [ ]:
rf_best

In [ ]:
from sklearn.tree import plot_tree
plt.figure(figsize=(80,50))
plot_tree(rf_best.estimators_[5],feature_names=X.columns,class_names=["setosa","versicolor","virginica"],filled=True)

In [ ]:
from sklearn.tree import plot_tree
plt.figure(figsize=(80,50))
plot_tree(rf_best.estimators_[7],feature_names=X.columns,class_names=["setosa","versicolor","virginica"],filled=True)

In [ ]:
rf_best.feature_importances_

In [ ]:
imp_df = pd.DataFrame({
    "Varname": X_train.columns,
    "Imp" : rf_best.feature_importances_
})

In [ ]:
imp_df.sort_values(by="Imp",ascending = False)

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = rf_best.predict(X_test)
cm = confusion_matrix(y_test,y_pred)
cm

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(cm,annot=True)
plt.xlabel("Predicted")
plt.ylabel("Truth")

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred1 = classifier_rf.predict(X_test)
cm1 = confusion_matrix(y_test,y_pred)
cm1

In [ ]:
plt.figure(figsize=(10,7))
sns.heatmap(cm1,annot=True)
plt.xlabel("Predicted")
plt.ylabel("Truth")

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred1))